<h1>Listing daily_timelines</h1>

<table>
  <tr>
    <th>Page</th>
    <th>Dates</th>
    <th>Pageviews</th>
    <th>Total pageviews</th>
  </tr>

<% @daily_timelines.each do |daily_timeline| %>
  <tr>
    <td><%=h daily_timeline.page_id %></td>
    <td><%=h daily_timeline.dates %></td>
    <td><%=h daily_timeline.pageviews %></td>
    <td><%=h daily_timeline.total_pageviews %></td>
    <td><%= link_to 'Show', daily_timeline %></td>
  </tr>
<% end %>
</table>

<br />
