<table id="movers">
  <tr>
    <th>Rank</th>
    <th>Views</th>
    <th>Trend</th>
    <th>Article</th>
  </tr>             
  <% @pages.each_with_index do |page, index| %>
    <tr>
      <td class="center"><%= index + 1 + APP_CONFIG['articles_per_page']*(params[:page].to_i - 1) %></td>
      <td class="pageviews"><%= number_with_delimiter(page.total_pageviews, ',') %></td>
      <td><%= link_to image_tag(page.sparkline('999999', 30).to_url, :alt => 'Recent Trend for ' + page.title ) , page %></td>
      <td>
        <%= link_to truncate(page.title,35), page, :class => "articlelink"  %>
      <!--<%= link_to 'Wikilink', 'http://en.wikipedia.org/wiki/' + page.url, :class => "wikilink" %> --></td>
      <!--td><%= link_to 'http://en.wikipedia.org/wiki/' + page.url, 'http://en.wikipedia.org/wiki/' + page.url %></td-->
    </tr>
  <% end %>
</table>