<div class="search_field">
	<form method="post" action="?">
		<div class="search_form">
		<p>Find Articles: <%= render :partial=>"pages/search_pane" %></p> 
		</div>
	</form>		
    <p>&nbsp;</p>
</div>

<% content_for :title, "Trending Topics: Hot Wikipedia Topics - Powered by Hadoop & EC2" %>

<div class="left">
	<div class="right_side">
    <div id = "timeline_chart" class="left_box">
      <h2>Fastest Rising Article: <%= link_to @page.title, @page  %></h2>  
          <%= render :partial => "timeline"  %>
  	</div>	
    <h3>Biggest Movers (Last 30 Days)</h3>	
    <table>
      <tr>
        <th>Rank</th>
        <th>Pageviews</th>
        <th>Article</th>
        <th>Wikilink</th>
      </tr>
      <% @pages.each_with_index do |page, index| %>
        <tr>
          <td><%= index + 1 + APP_CONFIG['articles_per_page']*(params[:page].to_i - 1) %></td>
          <td><%= number_with_delimiter(page.total_pageviews, ',') %></td>  
          <td><%= link_to page.title, page  %><BR><%= image_tag page.sparkline('76A4FB').to_url %> </td>
          <td><%= link_to 'http://en.wikipedia.org/wiki/' + page.url, 'http://en.wikipedia.org/wiki/' + page.url %></td>
        </tr>
      <% end %>
    </table>
    <br />
    <%= will_paginate @pages %>
  </div>			
</div>
<div class="right">
  <div id = "news" class="right_articles">
  <h2><b><%= @page.title %></b> in the News</h2>
   <%= render :partial => "news_results"  %> 
  </div>			
    <h3>Rising Articles (Last 24 hours):</h3>
		<div class="right_articles">
		  <% @rising.each_with_index do |rising, index| %>
	      <p><b><%= link_to rising.page.title, rising.page, :class =>
        "title" %><BR><%= image_tag rising.page.sparkline('33FF00').to_url %> </b></p>    
      <% end %>          
		</div>						
			
    <h3>Dropping Articles (Last 24 hours):</h3>
		<div class="right_articles">
		  <% @dropping.each_with_index do |dropping, index| %>
	      <p><b><%= link_to dropping.page.title, dropping.page, :class =>
        "title" %><BR><%= image_tag dropping.page.sparkline('FF0000').to_url %> </b></p>    
      <% end %>          
		</div>
			
    <div class="right_articles"></div>
	</div>	
	
</div>
