<h1>Listing pages</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Title</th>
    <th>Page latest</th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%=h page.url %></td>
    <td><%=h page.title %></td>
    <td><%=h page.page_latest %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_page_path %>