<% content_for :title, "Trending Topics: Hot Wikipedia Topics - Powered by Hadoop & EC2" %>

<div id="first-section" class="section">

    <div id="timeline_chart" class="left">
        <h3>Fastest Rising Article: <%= link_to truncate(@page.title,35), @page  %></h3>  
        <%= render :partial => "timeline"  %>
  	</div> <!-- #timeline_chart -->	

    <div id="news" class="right">
        <%= render :partial => "news_results"  %> 
    </div>	<!-- #news -->		

    <div class="clear">
    </div> <!-- .clear -->

</div> <!-- first-section -->

<div id="second-section" class="section">
    
    <div id="main-column" class="left">
        <div id="biggest-movers" class="left">
            <h3>Biggest Movers (Last 30 Days)</h3>	
            <table id="movers">
              <tr>
                <th>Rank</th>
                <th>Page Views</th>
                <th>Trend</th>
                <th>Article</th>
              </tr>
              <% @pages.each_with_index do |page, index| %>
                <tr>
                  <td class="center"><%= index + 1 + APP_CONFIG['articles_per_page']*(params[:page].to_i - 1) %></td>
                  <td class="pageviews"><%= number_with_delimiter(page.total_pageviews, ',') %></td>
                  <td><%= link_to image_tag(page.sparkline('999999').to_url) , page %></td>
                  <td>
                    <%= link_to truncate(page.title,20), page, :class => "articlelink"  %>
                  <!--<%= link_to 'Wikilink', 'http://en.wikipedia.org/wiki/' + page.url, :class => "wikilink" %> --></td>
                  <!--td><%= link_to 'http://en.wikipedia.org/wiki/' + page.url, 'http://en.wikipedia.org/wiki/' + page.url %></td-->
                </tr>
              <% end %>
            </table>
            <center>
                <span class="grey"><%= will_paginate @pages, :page_links=> false %></span>
            </center>
        </div>

    </div>
    
    <div id="side-column" class="right">

        <div id="rising-articles">
            <h3>Rising (Last 24 hours):</h3>
            <div class="articles">
    		    <% @rising.each_with_index do |rising, index| %>
    	        <p>
    	            <strong>
    	                <%= link_to image_tag(rising.page.sparkline('888888').to_url), rising.page %>&nbsp;&nbsp;
<!--    	                <%= image_tag rising.page.sparkline('34DB05').to_url %>&nbsp;&nbsp;-->
    	                <%= link_to truncate(rising.page.title,20), rising.page, :class => "title" %>
    	            </strong>
                </p>    
                <% end %>          
    		</div>
        </div> <!-- #rising -->
        

    </div>

    <div class="clear">
    </div>
    
</div> <!-- second-section -->
