<h1>Top Wikipedia Articles (Last 30 Days)</h1>

<table>
  <tr>
    <th>Rank</th>
    <th>Pageviews</th>
    <th>Article</th>
    <th>Wikilink</th>
  </tr>

<% @pages.each_with_index do |page, index| %>
  <tr>
    <td><%= index +1 %></td>
    <td><%= number_with_delimiter(page.total_pageviews, ',') %></td>  
    <td><%= link_to page.title, page  %><BR><%= image_tag page.chart.to_url %> </td>
    <td><%= link_to 'http://en.wikipedia.org/wiki/' + page.url, 'http://en.wikipedia.org/wiki/' + page.url %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @pages %>