<h2> Top Article this month:</h2>
<div id = "timeline_chart">
 <%= render :partial => "timeline"  %>
</div>

<h2>Top Wikipedia Articles (Last 30 Days)</h2>

<table>
  <tr>
    <th>Rank</th>
    <th>Pageviews</th>
    <th>Article</th>
    <th>Wikilink</th>
  </tr>

<% @pages.each_with_index do |page, index| %>
  <tr>
    <td><%= index + 1 + 10*(params[:page].to_i - 1) %></td>
    <td><%= number_with_delimiter(page.total_pageviews, ',') %></td>  
    <td><%= link_to page.title, page  %><BR><%= image_tag page.sparkline.to_url %> </td>
    <td><%= link_to 'http://en.wikipedia.org/wiki/' + page.url, 'http://en.wikipedia.org/wiki/' + page.url %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @pages %>