<% content_for :title, "Trending Topics on Wikipedia - Powered by Hadoop & EC2" %>

<div class="left">
  <div id = "timeline_chart" class="left_box">
    <h2> Top Article this month: <%= link_to @page.title, @page  %></h2>  
        <%= render :partial => "timeline"  %>
  </div>
  <div class="left_box">
	Covers the flu viruses common to pigs and briefly describes notable outbreaks including the 1918 <b>swine</b> flu epidemic, the 2007 Philippine outbreak and 2009 Mexican <b>...</b>
	</div>
	<div class="right_side">
    <h3>Most Read Articles (Last 30 Days)</h3>	
    <table>
      <tr>
        <th>Rank</th>
        <th>Pageviews</th>
        <th>Article</th>
        <th>Wikilink</th>
      </tr>
      <% @pages.each_with_index do |page, index| %>
        <tr>
          <td><%= index + 1 + APP_CONFIG['articles_per_page']*(params[:page].to_i - 1) %></td>
          <td><%= number_with_delimiter(page.total_pageviews, ',') %></td>  
          <td><%= link_to page.title, page  %><BR><%= image_tag page.sparkline('76A4FB').to_url %> </td>
          <td><%= link_to 'http://en.wikipedia.org/wiki/' + page.url, 'http://en.wikipedia.org/wiki/' + page.url %></td>
        </tr>
      <% end %>
    </table>
    <br />
    <%= will_paginate @pages %>
  </div>			
</div>
<div class="right">
			
    <h3>Rising Articles:</h3>
		<div class="right_articles">
	            <p><b><a class="title" href="#">Swine Flu</a><BR><img alt="Chart?cht=bvs&amp;chs=120x12&amp;chd=t:27,62,57,98,38,22,15,32,88,65,74,21,22,85,92,25,1,27,20,54,2,55,5,32,18,0,5,31,17,72&amp;chco=4cc417&amp;chds=0,120&amp;chbh=a" src="http://chart.apis.google.com/chart?cht=bvs&amp;chs=120x12&amp;chd=t:27,62,57,98,38,22,15,32,88,65,74,21,22,85,92,25,1,27,20,54,2,55,5,32,18,0,5,31,17,72&amp;chco=4CC417&amp;chds=0,120&amp;chbh=r,0.5,1.5" /> </b></p>
	            <p><b><a class="title" href="#">Swine Flu</a><BR><img alt="Chart?cht=bvs&amp;chs=120x12&amp;chd=t:27,62,57,98,38,22,15,32,88,65,74,21,22,85,92,25,1,27,20,54,2,55,5,32,18,0,5,31,17,72&amp;chco=4cc417&amp;chds=0,120&amp;chbh=a" src="http://chart.apis.google.com/chart?cht=bvs&amp;chs=120x12&amp;chd=t:27,62,57,98,38,22,15,32,88,65,74,21,22,85,92,25,1,27,20,54,2,55,5,32,18,0,5,31,17,72&amp;chco=4CC417&amp;chds=0,120&amp;chbh=r,0.5,1.5" /> </b></p>	            
		</div>						
			
    <h3>Dropping Articles:</h3>
		<div class="right_articles">
	            <p><b><a class="title" href="#">Swine Flu</a><BR><img alt="Chart?cht=bvs&amp;chs=120x12&amp;chd=t:27,62,57,98,38,22,15,32,88,65,74,21,22,85,92,25,1,27,20,54,2,55,5,32,18,0,5,31,17,72&amp;chco=4cc417&amp;chds=0,120&amp;chbh=a" src="http://chart.apis.google.com/chart?cht=bvs&amp;chs=120x12&amp;chd=t:27,62,57,98,38,22,15,32,88,65,74,21,22,85,92,25,1,27,20,54,2,55,5,32,18,0,5,31,17,72&amp;chco=FF0000&amp;chds=0,120&amp;chbh=r,0.5,1.5" /> </b></p>
	            <p><b><a class="title" href="#">Swine Flu</a><BR><img alt="Chart?cht=bvs&amp;chs=120x12&amp;chd=t:27,62,57,98,38,22,15,32,88,65,74,21,22,85,92,25,1,27,20,54,2,55,5,32,18,0,5,31,17,72&amp;chco=4cc417&amp;chds=0,120&amp;chbh=a" src="http://chart.apis.google.com/chart?cht=bvs&amp;chs=120x12&amp;chd=t:27,62,57,98,38,22,15,32,88,65,74,21,22,85,92,25,1,27,20,54,2,55,5,32,18,0,5,31,17,72&amp;chco=FF0000&amp;chds=0,120&amp;chbh=r,0.5,1.5" /> </b></p>	            
		</div>
			
    <div class="right_articles"></div>
	</div>	
	
</div>
