<div class="search_field">
	<form method="post" action="?">
		<div class="search_form">
		<p>Find Articles: <%= render :partial=>"pages/search_pane" %></p> 
		</div>
	</form>		
    <p>&nbsp;</p>
</div>
<% content_for :title, "Trending Topics: Wikipedia Trends for: " + @page.title %>

<div class="left">

  <div id = "timeline_chart" class="left_box">
  <h2>Daily Pageviews for: <em><%= @page.title %></em></h2>  
   <%= render :partial => "timeline"  %>
  </div>

  <div id ="wikipedia">
<BR><BR>  
  <h2><em><%= link_to @page.title + " on Wikipedia", 'http://en.wikipedia.org/wiki/' + @page.url %></em></h2>
<BR><BR>
  <iframe name="cwindow" style="border:0px double " width=890 height=890 src="<%='http://en.wikipedia.org/wiki/' + @page.url %>"></iframe>  
  </div>
</div>

<div class="right">
  <h2><em><%= @page.title %></em> in the News</h2>
  <div id = "news" class="right_articles">
   <%= render :partial => "news_results"  %> 
  </div>
</div>


