<% content_for :title, "Trending Topics: Wikipedia Trends for: " + @page.title %>
<% content_for :robots, 'NAME="ROBOTS" CONTENT="NOINDEX"' %>
<div id="first-section" class="section">

    <div id = "timeline_chart" class="left">
        <h3>Daily Pageviews for <span><%= truncate(@page.title, 35) %></span> <span style="text-align:right;"><%= link_to image_tag("csv_icon.png", :alt => 'Trend CSV file for ' + @page.title,  :size =>"16x18"), :controller => "daily_timelines", :action => "show", :id => @page.daily_timeline, :format => 'csv'  %></span></h3>  
        <%= render :partial => "timeline"  %>        
        <BR>
    </div>

    <div id="news" class="right">
        <%= render :partial => "twitter_results"  %> 
        <% if @page.hourly_timeline %>
          <div id="hourly" style="text-align:right;">
          <span>Hourly Data <%= link_to image_tag("csv_icon.png", :alt => 'Hourly Trend CSV file for ' + @page.title,  :size =>"16x18"), :controller => "hourly_timelines", :action => "show", :id => @page.hourly_timeline, :format => 'csv'  %>     </span> </div> 
        <% end %>  
    </div>	<!-- #news -->		

    <div class="clear">
    </div> <!-- .clear -->

</div> <!-- first-section -->
<!--
<div id="second-section" class="section">

    <div id = "hourly_chart" class="left"> 
    <p><%= image_tag(@page.linechart('76A4FB', @range, chart_title="Wikipedia Page Views for: " + truncate(@page.title, 35)).to_url, :border=>0 , :alt => "Wikipedia Trend for " + @page.title ) %></p>
    
      
    </div>

    <div id="embed-code" class="right">
    
    <input type='text' name='embed' value="<%=h  @page.daily_embed_code %>" size=40 >
    
    
    </div>	<!-- #embed-code -->		

    <div class="clear">
    </div> <!-- .clear -->

</div> <!-- second-section -->
-->

<div id="third-section" class="section">
<h3><%= link_to @page.title, 'http://en.wikipedia.org/wiki/' + @page.url, :class => "wikilink" %> on Wikipedia</h3>
<iframe 
    name="cwindow"
    class="wikiframe" 
    height="800" 
    src="<%='http://en.wikipedia.org/wiki/' + @page.url %>">  
    <!-- src="<%= url_for(:controller=>'info', :action=>'frames', :url => @page) %>"> -->
</iframe>
</div>

<!--div class="left">


  <div id ="wikipedia">
<BR><BR>  
  <h2><em></em></h2>
<BR><BR>
  <iframe name="cwindow" style="border:0px double " width=890 height=890 src="<%='http://en.wikipedia.org/wiki/' + @page.url %>"></iframe>  
  </div>
</div-->



