<% content_for :title, "Trending Topics: Wikipedia Trends for: " + @page.title %>


<div id = "timeline_chart">
<h2><%= @page.title %></h2>
 <%= render :partial => "timeline"  %>
</div>
<p>
  <b>Url:</b>
  <%=h @page.url %>
</p>

<p>
  <b>Title:</b>
  <%=h @page.title %>
</p>

<p>
  <b>Page latest:</b>
  <%=h @page.page_latest %>
</p>
