
<div id="second-section" class="section">
    
    <div id="main-column" class="left">

<% cache ({:page => params[:page]}) do %>
        <div id="rising-articles">
          <h3>Rising Trends for <%= Time.now.strftime("%A, %B %d, %Y") %></h3>

          <table id="rising">
          <% @daily_trends.each_with_index do |daily_trend, index| %>
            <tr>
              <td class="center"><%= index + 1 + APP_CONFIG['articles_per_page']*(params[:page].to_i - 1) %></td>
              <td><%= link_to image_tag(daily_trend.page.sparkline('999999', 30).to_url, :alt => 'Recent Trend for ' + daily_trend.page.title ) , daily_trend.page %></td>
              <td><%= link_to daily_trend.page.title, daily_trend.page %></td>
            </tr>
          <% end %>
          </table>
          
    <% end %> <! --#cache -->        
          <center>
              <span class="grey"><%= will_paginate @daily_trends, :page_links=> false %></span>
          </center>
          <br />
        </div>

    </div>
</div>        
