<% cache ({:page => params[:page]}) do %>
  <div id="first-section" class="section">
    <div class="clear">
    </div> <!-- .clear -->
      <% if params[:search] %>
        <!-- do nothing -->
     <% else %>    
        <div id="timeline_chart" class="left">
          <h3>Trending Right Now: <%= link_to truncate(@page.title,35), @page %> </h3>            
          <%= render :partial => "pages/timeline" %>
     

      	</div> <!-- #timeline_chart -->	

        <div id="news" class="right">
            <%= render :partial => "pages/news_results"  %> 
        </div>	<!-- #news -->		
    <% end %>
    <div class="clear">
    </div> <!-- .clear -->
  </div>
  
  <div id="second-section" class="people-section">
    <div id="main-column" class="left">
        <div id="biggest-movers" class="left">    
    
    
    
    <% content_for :title, "People Trending Right Now" %>
        <h3>People Trending on Wikipedia</h3>
            <table >            
              <% @pages.each_with_index do |page, index| %>
              
                <tr class="peoplerow">
       
                  <td class="people"><p><%= link_to (index + 1 + APP_CONFIG['articles_per_page']*(params[:page].to_i - 1)).to_s + ". " + truncate(page.title,35), page, :class => "articlelink"  %></p><%= link_to image_tag(page.sparkline('999999', 30).to_url, :alt => 'Recent Trend for ' + page.title ) , page %><BR>
                  Pageviews: <%= number_with_delimiter(page.total_pageviews, ',') %></td> 
                  <% unless APP_CONFIG['yahoo_boss_id'] == "REPLACEME" %>
                    <td ><%= link_to image_tag(page.picture, :alt => page.title, :size =>page.picture_size(120)), page %></td>                    
                  <% end %>
                
                
                          
                </tr>
              <% end %>
               </table>
                <center>
                    <span class="grey"><%= will_paginate @pages, :page_links=> false %></span>
                </center>            
        </div>

    </div>
    
  </div>

<% end %>

