<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <!-- <title>Pages: <%= controller.action_name %></title> -->
  <title><%=h yield(:title) %></title>
  
  <%= stylesheet_link_tag 'trends' %>
  <%= javascript_include_tag :defaults %> 
</head>
<body>
<div class="content">
	<div class="header">
		<div class="top_info">
		</div>
		<div class="top_info_left">	
		  <h1><%= link_to "Trending Topics", "/", :class =>"dark" %></h1>
		</div>
		<div class="top_info_right">
      <h3>Hot Wikipedia Topics, Powered by <a href="http://hadoop.apache.org/core/">Hadoop</a> & <a href="http://hadoop.apache.org/hive/">Hive</a></h3>
		</div>
	</div>
		
  <p style="color: green"><%= flash[:notice] %></p>

  <!-- Main site content -->
  <%= yield %>

	<div class="footer">
		<p><a href="#">RSS Feed</a> | <%= link_to "Contact", "contact" %> | <%= link_to "About", "about" %><br />
    &copy; Copyright 2009 Data Wrangling, LLC</p>
    <div class="footer_right">
      <!-- put logo buttons for Cloudera, Data Wrangling, Amazon Web Services, and Napkin Sketches on bottom left & right -->     
    <a href="http://www.datawrangling.com" title="DataWrangling.com"><%= image_tag("datawrangling.png") %></a>  
    </div>
	</div>  


	

</div>
</body>
</html>
